@model List<List<Flybilletter.Models.Reise>>

@if (Model == null)
{
    <h3>Feil. Uglydig søk-parametre</h3>
}
else
{

    <h3>Flygninger:</h3>
    @Html.BeginForm()
    {
            foreach (var ReiseListe in Model)
            {
                <table class="table">
                    <tr>
                        <th>Fra-Til</th>
                        <th>Avgang</th>
                        <th>Ankomst</th>
                        <th>Reisetid</th>
                        <th>Pris</th>
                        <th></th>
                    </tr>
                    @foreach (var reise in ReiseListe)
                    {
                    <tr>
                        <td>@reise.Fra.Navn - @reise.Til.Navn</td>
                        <td>@reise.Avgang</td>
                        <td>@reise.Ankomst</td>
                        <td>@(reise.Ankomst - reise.Avgang)</td>
                        <td>@reise.Pris</td>
                        <td><input type="radio" value="@reise" /></td>
                    </tr>
                    }
                </table>
            }
    }
}
