@model List<List<Flybilletter.Models.Flygning>>

@if (Model == null)
{
    <h3>Feil. Uglydig søk-parametre</h3>
}
else
{

    <h3>Flygninger:</h3>
    @Html.BeginForm()
    {
            foreach (var flygningListe in Model)
            {
                <table class="table">
                    <tr>
                        <th>Fra-Til</th>
                        <th>Avgang</th>
                        <th>Ankomst</th>
                        <th>Reisetid</th>
                        <th>Pris</th>
                        <th></th>
                    </tr>
                    @foreach (var flygning in flygningListe)
                    {
                    <tr>
                        <td>@flygning.Rute.Fra.Navn - @flygning.Rute.Til.Navn</td>
                        <td>@flygning.AvgangsTid</td>
                        <td>@flygning.AnkomstTid</td>
                        <td>@(flygning.AnkomstTid - flygning.AvgangsTid)</td>
                        <td>@flygning.Rute.BasePris</td>
                        <td><input type="radio" value="@flygning" /></td>
                    </tr>
                    }
                </table>
            }
    }
}
