@model List<List<Flybilletter.Models.Reise>>

@if (Model == null)
{
    <h3>Feil. Uglydig søk-parametre</h3>
}
else
{

    <h3>Flygninger:</h3>
    using (Html.BeginForm("ValgtReise", "Home"))
    {

        for (var i = 0; i < Model.Count; i++)  //Maks 2 elementer. Indeks 0 for Tur, indeks 1 for retur
        {
            var ReiseListe = Model[i];
            string name = i == 0 ? "Tur" : "Retur";
            string radioButtonName = i == 0 ? "turindeks" : "returindeks";

            <h4>@name</h4>
            <table class="table col-md-12 col-sm-12">
                <tr>
                    <th>Rute</th>
                    <th>Avgang</th>
                    <th>Ankomst</th>
                    <th>Reisetid</th>
                    <th>Pris</th>
                    <th></th>
                </tr>
                @for(var j = 0; j < ReiseListe.Count; j++)
                {
                    var reise = ReiseListe[j];
                    <tr>
                        @{if (reise.Mellomlanding > 0)
                            {
                                <td>@reise.Fra.Navn - @reise.Til.Navn <a href="#mellom-@j" data-toggle="collapse" class="btn btn-info btn-xs">(+@reise.Mellomlanding)</a>
                                    <div id="mellom-@j" class="collapse">
                                        <table class="table col-md-1 col-sm-2">
                                            <th>Rute</th>
                                            <th>Avgang</th>
                                            <th>Ankomst</th>
                                            <th>Reisetid</th>
                                            <th>Pris</th>
                                            @foreach (var flygning in reise.Flygninger)
                                            {
                                                <tr>
                                                    <td>@flygning.Rute.Fra.Navn - @flygning.Rute.Til.Navn</td>
                                                    <td>@flygning.AvgangsTid</td>
                                                    <td>@flygning.AnkomstTid</td>
                                                    <td>@(flygning.AnkomstTid - flygning.AvgangsTid)</td>
                                                    <td>@flygning.Rute.BasePris</td>
                                                </tr>
                                            }
                                        </table>
                                    </div>
                                </td>
                            }
                            else
                            {
                                <td>@reise.Fra.Navn - @reise.Til.Navn</td>
                            }
                        }

                        <td>@reise.Avgang</td>
                        <td>@reise.Ankomst</td>
                        <td>@(reise.Ankomst - reise.Avgang)</td>
                        <td>@reise.Pris</td>
                        <td><input name="@radioButtonName" type="radio" value="@j" /></td>
                    </tr>
                       }
            </table>
        }
        <button class="btn btn-primary" type="submit">Velg flygninger</button>
    }
}
