@model Flybilletter.Models.BestillingViewModel

@{
    ViewBag.Title = "Bestille";
}

@if (Model == null)
{

    <h3>Direkte aksess ikke tillatt</h3>
}
else
{

    <h2>Informasjon om bestilling</h2>

    <h3>@Model.Tur.Fra.By - @Model.Tur.Til.By</h3>



    foreach (var item in Model.Tur.Flygninger)
    {
        @Html.DisplayFor(model => item);
    }


    if (Model.Retur != null)
    {
        <h3>@Model.Retur.Fra.By - @Model.Retur.Til.By</h3>

        foreach (var item in Model.Retur.Flygninger)
        {
            @Html.DisplayFor(model => item);
        }
    }


    <hr />
    <h3>Reisende</h3>



    for (int i = 0, antall = 1; i < Model.Kunder.Count; i++, antall++)
    {
        using (Html.BeginForm(null, null, FormMethod.Post, new { id = "confirmForm-" + i, @class = "passasjerBekreftelse", @autocomplete = "false" })) ///Home/BestillingDetaljer
        {
            @Html.AntiForgeryToken()
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Passasjer @antall</h3>
                </div>

                <div class="panel-body">
                    <fieldset id="kundeInformasjon-@i">
                        @Html.EditorFor(model => model.Kunder[i], new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Kunder, "", new { @class = "text-danger" })
                    </fieldset>
                </div>

                <div class="panel-footer">
                    <button id="kundeInformasjonBtn-@i" class="btn btn-success">Bekreft informasjon</button>
                </div>
            </div>
        }
    }

    <div class="modal" id="betalingsinformasjon" role="dialog">

        <div class="modal-dialog" role="document">
            <div class="modal-content">
                @Html.EditorFor(model => model.Kredittkort)
            </div>
        </div>
    </div>

    <div id="valideringFeilmelding" class="alert alert-info" role="alert">
        Alle felter må bekreftes før man kan gå til betaling.
    </div>

    <div>
        <button id="gaaTilBetaling" class="btn btn-success hidden">Gå til betaling</button>

    </div>

    <div style="margin-top: 1em;">
        <button class="btn btn-default">Tilbake til søk</button>
    </div>


    <script>
    $(function () {
        var antallKunder = @Model.Kunder.Count;
        for (var i = 0; i < antallKunder; i++) {
            $("#kundeInformasjonBtn-" + i).click(function (event) {
                handleKundeInfoBtnClick(event, $(this).index());
                var okForBetaling = erFormsBekreftetOgValid();
                if (okForBetaling) {
                    $("#gaaTilBetaling").removeClass("hidden");
                    $("#valideringFeilmelding").addClass("hidden");
                } else {
                    $("#valideringFeilmelding").removeClass("hidden");
                    $("#gaaTilBetaling").addClass("hidden");
                }
            });
        }

        $("#gaaTilBetaling").click(function (event) {
            if (erFormsBekreftetOgValid()) {
                $("#betalingsinformasjon").modal();
            }
        });

    });

    function erFormsBekreftetOgValid() {
        var isValid = true;
        var isBekreftet = true;

        //Sjekk at alle forms er validert, samt bekreftet av bruker
        $(".passasjerBekreftelse").each(function () {
            var valid = $(this).valid();
            if (!valid) isValid = false;

            var bekreftet = $(this).find("fieldset").prop("disabled");
            if (!bekreftet) isBekreftet = false;
        });

        return isValid && isBekreftet;
    }

    function handleKundeInfoBtnClick(event, idNr) {
        event.preventDefault();
        var btnId = "#kundeInformasjonBtn-" + idNr;
        var fieldSetId = "#kundeInformasjon-" + idNr;

        var isDisabled = $(fieldSetId).prop('disabled');
        var isValid = $("#confirmForm-" + idNr).valid();

        if (isDisabled) {
            $(btnId).text("Bekreft informasjon");
        } else if (isValid) {
            $(btnId).text("Endre informasjon");
        } else {
            return; //Hvis formen ikke er valid
        }

        $(fieldSetId).prop('disabled', !isDisabled);
        $(btnId).toggleClass("btn-success");
        $(btnId).toggleClass("btn-default");
    }

    </script>
}