@model Flybilletter.Models.BestillingViewModel

@{
    ViewBag.Title = "Bestille";
}

<h2>Informasjon om bestilling</h2>

<h3>@Model.Fra - @Model.Til</h3>



@foreach (var item in Model.Flygninger)
{
    <p>@item.AnkomstTid.ToShortDateString() - @item.AvgangsTid.ToShortDateString()</p>
}

@for(var i = 0; i < Model.AntallBilletter; i++)
{
    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            @Html.LabelFor(model => model.Kunder, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Kunder, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Kunder, "", new { @class = "text-danger" })
            </div>
        </div>

    }

}


<div>
    @Html.ActionLink("Tilbake til søk", "Index")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
