@model Flybilletter.Models.SokViewModel

@{
    ViewBag.Title = "Sok";
}

<h2>Sok</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>SokViewModel</h4>
        <hr />

        <div class="form-group">
            <label class="control-label col-md-2" for="Avreise">Til</label>
            <div class="col-md-10">
                <select class="form-control">
                    @foreach (var item in Model.Flyplasser)
                    {
                        <option value="@item.ID">@item.Navn (@item.ID - @item.Land)</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
             <label class="control-label col-md-2" for="Fra">Fra</label>
            <div class="col-md-10">
                <select class="form-control">
                    @foreach (var item in Model.Flyplasser)
                    {
                        <option value="@item.ID">@item.Navn (@item.ID - @item.Land)</option>
                    }
                </select>
            </div>
        </div>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Avreise, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Avreise, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Avreise, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Ankomst, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Ankomst, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Ankomst, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AntallBilletter, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AntallBilletter, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AntallBilletter, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
